/* 改变主题色变量 */
$--input-large-font-size: 17px;
$--input-large-height: 50px;

///* 改变 icon 字体路径变量，必需 */
//$--font-path: '~element-ui/lib/theme-chalk/fonts';
//
//@import "~element-ui/packages/theme-chalk/src/index";

.el-input--large {
  .el-input__inner {
    line-height: $--input-large-height;
    height: $--input-large-height;
    font-size: $--input-large-font-size;
  }
  .el-input__suffix-inner {
    line-height: $--input-large-height;
  }
}

.el-button--large {
  padding: 17px 20px;
}
